.sizeLimitter {
	width: 50%;
	margin: 0 auto;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.postTitle {

	font-color: black;
	font-weight: bold;

}

img {
	margin: 0 auto;
	width: 10%;
}
